# History files 
.Rhistory
.Rapp.history

# Session Data files
.RData

# Datasets
*.mat

# Images
*.eps
*.png
*.jpg
*.jpeg

# Docs
*.doc
*.docx
*.html
*.pdf

# Outputs of code
_results/

# Things I don't care about
.DS_Store